@font-face {
    font-family: 'NunitoSans Regular';
    src: url('../../fonts/NunitoSans-Regular.ttf')
}

@font-face {
    font-family: 'NunitoSans Medium';
    src: url('../../fonts/NunitoSans-Medium.ttf')
}

@font-face {
    font-family: 'NunitoSans SemiBold';
    src: url('../../fonts/NunitoSans-SemiBold.ttf')
}

@font-face {
    font-family: 'NunitoSans Bold';
    src: url('../../fonts/NunitoSans-Bold.ttf')
}